*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
    --main-color: rgb(80, 80, 80);
}

body {
    margin: 0;
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.score {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 30px;
}

.score p {
    font-size: 18px;
    font-weight: 600;
}

.board {
    width: 100vw;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:nth-child(1),
:nth-child(2),
:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
:nth-child(4),
:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
:nth-child(6),
:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
:nth-child(8),
:nth-child(9) {
    border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color: var(--main-color);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: "";
    position: absolute;
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background-color: white;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.winning-massage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-massage button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid var(--main-color);
    padding: 10px 15px;
    cursor: pointer;
}

.winning-massage button:hover {
    background-color: var(--main-color);
    border-color: white;
    color: white;
}

.winning-massage.show {
    display: flex;
}